.github-activity > h3 > a {
    font-weight: 400 !important;
}

.github-activity p {
    margin-top: 0;
}

.github-activity code {
    font-size: .9em;
}

.github-activity-title {
    font-size: 1.05em;
}